@import '../../sass-modules/breakpoints';

.aboutSection {
  text-align: center;
  padding: 3rem 0;
  overflow: hidden;
}

/* container --- */
.aboutSection__container {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem; 
  background: url(../../image/background-map.png) no-repeat 50% / 41rem 100%;
}

/* title --- */
.aboutSection__title {
  position: absolute;
  left: -100rem;
}

/* paragraph --- */
.aboutSection__paragraph {
  margin: 1.2rem auto;
}

/* service list --- */
/* service --- */
.serviceIconList__item {
  position: absolute;
  transform: scale(.8);
}

/* service name --- */
.serviceIconList__name {
  color: #fff;
}

// (1)
.serviceIconList__item:nth-child(1) {
  top: -4rem;
  left: 0rem;

  @media screen and (min-width: $break-about) {
    top: -3rem;
    left: 9rem;
  }

  .serviceIconList__name {
    position: absolute;
    top: 4rem;
    left: 1.3rem;
  }
}

// (2)
.serviceIconList__item:nth-child(2) {
  top: -2rem;
  left: -2.5rem;
  display: none;

  @media screen and (min-width: $break-about) {
    display: block;
  }

  .serviceIconList__name {
    position: absolute;
    top: 6rem;
    left: 3rem;
  }
}

// (3)
.serviceIconList__item:nth-child(3) {
  bottom: -2.5rem;
  left: 0rem;

  @media screen and (min-width: $break-about) {
    left: 5rem;
  }

  .serviceIconList__name {
    position: absolute;
    top: 3.8rem;
    left: .7rem;
  }
}

// (4)
.serviceIconList__item:nth-child(4) {
  top: -4rem;
  right: 0rem;

  @media screen and (min-width: $break-about) {
    top: -3rem;
    right: 9rem;
  }

  .serviceIconList__name {
    position: absolute;
    top: 4.5rem;
    left: .8rem;
  }
}

// (5)
.serviceIconList__item:nth-child(5) {
  top: -2rem;
  right: -2.5rem;
  display: none;

  @media screen and (min-width: $break-about) {
    display: block;
  }

  .serviceIconList__name {
    position: absolute;
    top: 6.5rem;
    left: 1.5rem;
  }
}

// (6)
.serviceIconList__item:nth-child(6) {
  bottom: -2.5rem;
  right: 0rem;

  @media screen and (min-width: $break-about) {
    right: 5rem;
  }

  .serviceIconList__name {
    position: absolute;
    top: 4.5rem;
    left: 1.8rem;
  }
}