.FeatureSection {
  padding: 3rem 0 1rem;
}

/* title --- */
.featureSection__title {
  position: absolute;
  left: -100rem;
}

/* ===================================
List
====================================== */
.featureList {
  text-align: center;
}

