@import '../../sass-modules/colors';
@import '../../sass-modules/breakpoints';

.statistics {
  text-align: center;
  padding: 5rem 0 7rem;
  // background-image:
  //   linear-gradient(
  //     to bottom, 
  //     $lighter-grey, #fff
  //   );

  position: relative;
}

/* --- title --- */
.statistics__title {
  position: absolute;
  left: -100rem;
}

/* ===============================
First Paragraph
================================== */
.statistics__paragraph:first-of-type {
  margin: 0 auto;
}

/* ===============================
Second Paragraph
================================== */
.statistics__paragraph:last-of-type {
  margin: 2rem auto 4rem;
}

/* ===============================
Image
================================== */
.statistics__image {
  max-width: 35rem;
  width: 100%
}

/* ===============================
Phone
================================== */
.statistics__phone {
  display: none;
  width: 15rem;
  position: absolute;
  top: 3rem;
  left: 0;
  top: -4.3rem;

  @media screen and (min-width: $break-large) {
    display: block;
  }

  @media screen and (min-width: $break-xlarge) {
    width: 20rem;                   
  }
}

/* ===============================
Tablet
================================== */
.statistics__tablet {
  display: none;
  width: 15rem;
  position: absolute;
  top: 2rem;
  right: 0;

  @media screen and (min-width: $break-large) {
    display: block;
  }

  @media screen and (min-width: $break-xlarge) {
    width: 20rem;
  }
}