@import '../sass-modules/colors';

.mainContent {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 42rem;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 38rem;
    background-color: $ribbon;
  
    transform-origin: 100% 0;
    transform: rotate(-24deg);
  }
}